<!-- src/app/app.component.html -->
<div class="container">
  <h1>Gestión de Contactsssos</h1>
  <!-- contacto-create.component.html -->
  <form (submit)="crearContacto()">
    <div class="row">
      <div class="col-12 col-sm-6 mt-4">
        <input
          type="text"
          [(ngModel)]="nombre"
          name="nombre"
          placeholder="Nombre"
          required
          class="form-control"
        />
      </div>
      <div class="col-12 col-sm-6 mt-4">
        <input
          type="text"
          [(ngModel)]="apellido"
          name="apellido"
          placeholder="Apellido"
          class="form-control"
          required
        />
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-primary" type="submit">Crear Contacto</button>
      </div>
    </div>
  </form>
  <br />
  <!-- contacto-list.component.html -->
  <div *ngIf="contactos">
    <ol>
      <li *ngFor="let contacto of contactos">
        {{ contacto.nombre }} {{ contacto.apellido }}
      </li>
    </ol>
  </div>
</div>
